footer
  if config && config.index
    p
      a(href='./index.html') Return to index

  p Visit 
    a(href='https://github.com/r-kan/iReminder') iReminder at GitHub

  p The Page is built with&nbsp;
    a(href='https://www.github.com/mattyod/matic/') Matic.js
